<div id="sidebar-menu">
        <!-- Left Menu Start -->
        <ul class="metismenu" id="side-menu">
            <li class="menu-title">Quản Lý</li>
            <li>
                <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-hospital-building"></i><span> Bệnh Nhân <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span></span></a>
                <ul class="submenu">
                    <li><a href="/danh-sach-ho-so">Danh Sách Bệnh Nhân</a></li>
                    <li><a href="/tao-ho-so">Tạo Hồ Sơ</a></li>
                </ul>
            </li>

            <li>
                <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-script"></i><span> Đơn Thuốc <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span></span></a>
                <ul class="submenu">
                    <li><a href="#">Danh Sách Đơn Thuốc</a></li>
                    <li><a href="#">Tạo Đơn Thuốc</a></li>
                </ul>
            </li>

            <li>
                <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-pill"></i><span> Quản Lý Thuốc <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span></span></a>
                <ul class="submenu">
                    <li><a href="/danh-sach-thuoc-phu-thuoc">Danh Sách Thuốc</a></li>
                    <li><a href="#">Tạo Bản Ghi Thuốc</a></li>
                </ul>
            </li>

            <li>
                <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-ambulance"></i><span> Khám Bệnh <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span></span></a>
                <ul class="submenu">
                    <li><a href="#">Danh Sách Khám</a></li>
                    <li><a href="#">Tạo Giao Dịch</a></li>
                </ul>
            </li>

            <li>
                <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-clipboard-account"></i><span> Bác Sĩ <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span></span></a>
                <ul class="submenu">
                    <li><a href="/danh-sach-bac-si-truc-thuoc">Danh Bác Sĩ</a></li>
                    <li><a href="#">Tạo Hồ Sơ</a></li>
                </ul>
            </li>

            <li>
                <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-note-text"></i><span> Tra Cứu Thống Kê <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span></span></a>
                <ul class="submenu">
                    <li><a href="/tra-cuu-kiem-tra-ho-so-blockchain">Kiểm Chứng Hồ Sơ(Blockchain)</a></li>
                    <li><a href="/bao-cao-thong-ke">Báo Cáo Tổng Thể</a></li>
                </ul>
            </li>
        </ul>
    </div>