<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimal-ui">
    <title>Blockchain-KOF</title>
    <meta content="Admin Dashboard" name="description">
    <meta content="Themesbrand" name="author">
    <link rel="shortcut icon" href="/vertical/assets/images/favicon.ico">
    <link rel="stylesheet" href="../plugins/morris/morris.css">
    <link href="/vertical/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/vertical/assets/css/metismenu.min.css" rel="stylesheet" type="text/css">
    <link href="/vertical/assets/css/icons.css" rel="stylesheet" type="text/css">
    <link href="/vertical/assets/css/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
</head>

<body>
    <!-- Begin page -->
    <div id="wrapper">
        <!-- Top Bar Start -->
        <div class="topbar">
            <!-- LOGO -->
            <div class="topbar-left">
                <!-- <a href="index.html" class="logo">
                    <span>
                        <img src="/vertical/assets/images/logo-light.png" alt="" height="18"> 
                        SPIDER
                    </span>
                    <i><img src="/vertical/assets/images/logo-sm.png" alt="" height="22"></i>
                </a> -->
            </div>
            <nav class="navbar-custom">
                <ul class="navbar-right d-flex list-inline float-right mb-0">
                    <li class="dropdown notification-list d-none d-sm-block">
                        <form role="search" class="app-search">
                            <div class="form-group mb-0">
                                <input type="text" class="form-control" placeholder="Search..">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </div>
                        </form>
                    </li>
                    <li class="dropdown notification-list"><a class="nav-link dropdown-toggle arrow-none waves-effect" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false"><i class="ti-bell noti-icon"></i> <span class="badge badge-pill badge-danger noti-icon-badge">3</span></a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg">
                            <!-- item-->
                            <h6 class="dropdown-item-text">Notifications (258)</h6>
                            <div class="slimscroll notification-item-list">
                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item active">
                                    <div class="notify-icon bg-success"><i class="mdi mdi-cart-outline"></i></div>
                                    <p class="notify-details">Your order is placed<span class="text-muted">Dummy text of the printing and typesetting industry.</span></p>
                                </a>
                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <div class="notify-icon bg-warning"><i class="mdi mdi-message"></i></div>
                                    <p class="notify-details">New Message received<span class="text-muted">You have 87 unread messages</span></p>
                                </a>
                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <div class="notify-icon bg-info"><i class="mdi mdi-martini"></i></div>
                                    <p class="notify-details">Your item is shipped<span class="text-muted">It is a long established fact that a reader will</span></p>
                                </a>
                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <div class="notify-icon bg-primary"><i class="mdi mdi-cart-outline"></i></div>
                                    <p class="notify-details">Your order is placed<span class="text-muted">Dummy text of the printing and typesetting industry.</span></p>
                                </a>
                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <div class="notify-icon bg-danger"><i class="mdi mdi-message"></i></div>
                                    <p class="notify-details">New Message received<span class="text-muted">You have 87 unread messages</span></p>
                                </a>
                            </div>
                            <!-- All--><a href="javascript:void(0);" class="dropdown-item text-center text-primary">View all <i class="fi-arrow-right"></i></a></div>
                    </li>
                    <li class="dropdown notification-list">
                        <div class="dropdown notification-list nav-pro-img">
                            <a class="dropdown-toggle nav-link arrow-none waves-effect nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false"><img src="/vertical/assets/images/users/khanhney.png" alt="user" class="rounded-circle"></a>
                            <div class="dropdown-menu dropdown-menu-right profile-dropdown">
                                <!-- item--><a class="dropdown-item" href="#"><i class="mdi mdi-account-circle m-r-5"></i> Profile</a> <a class="dropdown-item" href="#"><i class="mdi mdi-wallet m-r-5"></i> My Wallet</a> <a class="dropdown-item d-block" href="#"><span class="badge badge-success float-right">11</span><i class="mdi mdi-settings m-r-5"></i> Settings</a> <a class="dropdown-item" href="#"><i class="mdi mdi-lock-open-outline m-r-5"></i> Lock screen</a>
                                <div class="dropdown-divider"></div><a class="dropdown-item text-danger" href="#"><i class="mdi mdi-power text-danger"></i> Logout</a></div>
                        </div>
                    </li>
                </ul>
                <ul class="list-inline menu-left mb-0">
                    <li class="float-left">
                        <button class="button-menu-mobile open-left waves-effect"><i class="mdi mdi-menu"></i></button>
                    </li>
                    <li class="d-none d-sm-block">
                        <div class="dropdown pt-3 d-inline-block"><a class="btn btn-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Create</a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink"><a class="dropdown-item" href="#">Action</a> <a class="dropdown-item" href="#">Another action</a> <a class="dropdown-item" href="#">Something else here</a>
                                <div class="dropdown-divider"></div><a class="dropdown-item" href="#">Separated link</a></div>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- Top Bar End -->
        <!-- ========== Left Sidebar Start ========== -->
        <div class="left side-menu">
            <div class="slimscroll-menu" id="remove-scroll">
                <!--- Sidemenu -->
                <%- include ./components/sidemenu.ejs%>
                <!-- Sidebar -->
                <div class="clearfix"></div>
            </div>
            <!-- Sidebar -left -->
        </div>
        <!-- Left Sidebar End -->
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="content-page">
            <!-- Start content -->
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="card m-b-20">
                                <div class="card-header"></div>
                                <div class="card-body">
                                    <h4 class="mt-0 header-title">Tạo Hồ Sơ Bệnh Nhân</h4>
                                    <p class="text-muted m-b-30"></p>
                                    <div class="form-group row">
                                      <label for="example-text-input" class="col-sm-2 col-form-label">Họ Tên</label>
                                      <div class="col-sm-10"><input class="form-control" type="text" placeholder="Lê Nguyệt Sao" id="fullname" name="fullname"></div>
                                    </div>
                                    <div class="form-group row">
                                      <label for="example-search-input" class="col-sm-2 col-form-label">Điện Thoại</label>
                                      <div class="col-sm-10"><input class="form-control" type="search" placeholder="0964209752" id="phone" name="phone"></div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="example-text-input" class="col-sm-2 col-form-label">Địa Chỉ</label>
                                        <div class="col-sm-10"><input class="form-control" type="text" placeholder="123 Phạm Ngũ Lão,.." id="address" name="address"></div>
                                    </div>
                                   <div class="form-group row">
                                      <label for="example-date-input" class="col-sm-2 col-form-label">Ngày Sinh</label>
                                      <div class="col-sm-10"><input class="form-control" type="date" placeholder="2011-08-19" id="birthday" name="birthday"></div>
                                   </div>
                                    <div class="form-group row">
                                        <label for="example-date-input" class="col-sm-2 col-form-label">Giới Tính</label>
                                        <div class="col-sm-10">
                                            <input type="checkbox" id="switch1" switch="none" checked="checked"> 
                                            <label for="switch1" data-on-label="Nam" data-off-label="Nữ"></label>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label for="age" class="col-sm-2 col-form-label">Tuổi</label>
                                                <div class="col-sm-10">
                                                    <input class="form-control" type="number" placeholder="20" id="age" name="age">
                                                </div>
                                             </div>

                                             <div class="form-group row">
                                                <label for="weight" class="col-sm-2 col-form-label">Cân Nặng</label>
                                                <div class="col-sm-10">
                                                    <input class="form-control" type="number" placeholder="65" id="weight" name="weight">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label for="height" class="col-sm-2 col-form-label">Chiều Cao</label>
                                                <div class="col-sm-10">
                                                    <input class="form-control" type="number" placeholder="172" id="height" name="height">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label">Hoạt Động</label>
                                                <div class="col-sm-10">
                                                    <select class="form-control" id="active">
                                                       <option value="0">Ít Hoạt Động</option>
                                                       <option value="1">Hoạt Động Vừa</option>
                                                       <option value="2">Thường Xuyên</option>
                                                       <option value="3">Nhiều</option>
                                                       <option value="4">Rất Nhiều</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                             </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                                <div class="card m-b-20">
                                    <div class="card-header"></div>
                                    <div class="card-body">
                                        <h4 class="mt-0 header-title">Thông Tin Đăng Nhập</h4>
                                        <p class="text-muted m-b-30"></p>
                                        <div class="form-group row">
                                            <label for="example-text-input" class="col-sm-2 col-form-label">Tài Khoản</label>
                                            <div class="col-sm-10"><input class="form-control" type="text" placeholder="Khanhney" id="username" name="username"></div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="example-text-input" class="col-sm-2 col-form-label">Mật Khẩu</label>
                                            <div class="col-sm-10"><input class="form-control" type="password" id="password" name="password" placeholder="***********"></div>
                                        </div>
                                        <button type="button" id="btnRegister" class="btn btn-outline-primary waves-effect btn-lg waves-light pull-right">Khởi Tạo</button>
                                    </div>
                            </div>
                    </div>
                </div>
                <!-- container-fluid -->
            </div>
            <!-- content -->
            <footer class="footer">© 2018 Lexa - <span class="d-none d-sm-inline-block">Crafted with <i class="mdi mdi-heart text-danger"></i> by Themesbrand</span>.</footer>
        </div>
        <!-- ============================================================== -->
        <!-- End Right content here -->
        <!-- ============================================================== -->
    </div>
    <!-- END wrapper -->
    <!-- jQuery  -->
    <script src="/vertical/assets/js/jquery.min.js"></script>
    <script src="/vertical/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/vertical/assets/js/metisMenu.min.js"></script>
    <script src="/vertical/assets/js/jquery.slimscroll.js"></script>
    <script src="/vertical/assets/js/waves.min.js"></script>
    <script src="../plugins/jquery-sparkline/jquery.sparkline.min.js"></script>
    <!--Morris Chart-->
    <script src="../plugins/morris/morris.min.js"></script>
    <script src="../plugins/raphael/raphael-min.js"></script>
    <script src="/vertical/assets/pages/dashboard.js"></script>
    <!-- App js -->
    <script src="/vertical/assets/js/app.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <script>
        $(document).ready(function(){

            const getData = () => {
                const username = $('#username').val();
                const password = $('#password').val();
                const address  = $('#address').val();
                const phone    = $('#phone').val();
                const birthday = $('#birthday').val();
                const fullname = $('#fullname').val();
                const age = $('#age').val();
                const weight = $('#weight').val();
                const height = $('#height').val();
                const active = $('#active').val();

                return { username, password, address, phone, birthday, fullname, age, weight, height, active };
            }

            $('#btnRegister').on('click', function(){
                const data = getData();

                $.ajax({
                    method: 'POST',
                    url: '/register-patient',
                    data: data,
                    success: function(data) {
                        console.log(data)
                        if (data.error) return toastr.error('Tạo Hồ Sơ Thất Bại');
                        return toastr.info('Tạo Hồ Sơ Thành Công');
                    },
                    error: function(err) {
                        console.log({ err });
                        return toastr.error('Tạo Hồ Sơ Thất Bại');
                    }
                })
            })

        });
    </script>
</body>

</html>